:host {
  display: block;
  width: 100%;
}

/* Toolbar container */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  margin-bottom: 8px;
  border-radius: 6px;
}

/* Group of control boxes */
.left-controls {
  display: flex;
  align-items: center;
}

/* Individual control block (View By / Color By / Font) */
.control-box {
  margin: 2px;
  display: flex;
  align-items: center;
  background: #f9fafb;
  border: 1px solid #ddd; 
  border-radius: 3px; 
  padding: 2px 5px;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.05); */
}
.font-box {
  margin: 2px;
  display: flex;
  align-items: center;
  /* gap: 1px; */
  /* background: #f9fafb; */
  padding: 2px 5px;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.05); */
}

.font-box label {
  color: #333638;
  font-size: 17px;
  
}

/* Label styling */
.control-box label {
  color: #1e2022;
  font-size: 14px;
  font-weight: 500;
}

/* Remove inner borders for select boxes (View By + Color By) */
.control-box select {
  border: none;
  background: transparent;
  outline: none;
  font-size: 13px;
  color: #1e2022;
}

/* Keep slider with normal border */
.control-box input[type="range"] {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
}

/* Reset button styling */
.reset-btn {
  background: #fff;
  color: #186cea;
  padding: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding-right: 40px;
}

/* Font slider value color */
.slider-value {
  color: rgb(96, 96, 228);
  font-weight: 600;
}

/* Chart area */
.chart-container {
  width: 100%;
  height: calc(100vh - 140px);
  background: #fafafa;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Info box */
.info-box {
  position: absolute;
  top: 100px;
  background: #ffffff;
  padding: 10px 14px;
  font-size: small;
}

/* Tabs section */
.tab-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-header {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

.tab-header li {
  padding: 4px 5px;
  cursor: pointer;
  color: #58595b;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
}

.tab-header li:hover {
  color: #186cea;
}

.tab-header li.active {
  border-bottom: 3px solid #186cea;
  color: #000;
  background: #fff;
}
